aiosmtplib
annotated-doc
annotated-types
anyio
blinker
cffi
click
cryptography
dnspython
ecdsa
email-validator
fastapi
fastapi-mail
h11
httptools
idna
Jinja2
MarkupSafe
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-jose
PyYAML
rsa
six
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
validate_docbr
watchfiles
websockets
